In [10]:
import pandas as pd
import re

In [13]:
a = pd.DataFrame(["0x1234", "0xdsfsdflksdjflk", "0xdsdfdsfsdfsdf"], columns = ["a"])

In [14]:
a

                  a
0            0x1234
1  0xdsfsdflksdjflk
2   0xdsdfdsfsdfsdf

In [15]:
type(a)

pandas.core.frame.DataFrame

In [21]:
z = a["a"].map(lambda x : x.replace("0x", ""))

In [22]:
z

0              1234
1    dsfsdflksdjflk
2     dsdfdsfsdfsdf
Name: a, dtype: object